html, body {
   height:100%;
}

body {
   background: url(../images/background_space.png) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.contenedor{
  background-color:#ffffffeb!important;
  height: 100%;
}
.center {
padding-top:15%!important;
}

.tittle{
	font-family: 'Asap', sans-serif;
	font-weight: 700;
    color: #0c83ab;
	letter-spacing: 1.5px;
}

 .img-fluids{
      max-width: 10%;
    }

