html {
  min-height: 100%;
}

body {
  min-height: 100vh;
}

body {
   background: url(../images/land_back.png) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.contenedor{
  background-color:#ffffffeb!important;
  height: 100%;
}
.center {
padding-top:15%!important;
}

.tittle{
	font-family: 'Asap', sans-serif;
	font-weight: 700;
    color: #ffbb16ff;
	letter-spacing: 1.5px;
}

 .img-fluids{
      max-width: 10%;
    }

.blue-title{
	color:#0c8ca6;
}

.main-title{
	color:white;
	text-shadow: 0 2px 5px gray;
	font-weight:400;
	font-size: 5rem;
}

.card-white{
	background-color:white!important;
	border-radius:1vw!important;
}

.nav-color{
	background-image: radial-gradient(circle at 50% 50%,#ffffff3d,#ffffff99 43%,hsla(0,0%,100%,0));
    box-shadow: 0 4px 20px -4px rgb(0 0 0 / 20%);

}

.btn-edubot{
	background-color: #0c92a6!important;
	color:white!important;
}

.foot-color{
	background: linear-gradient(59deg, #0ebcba, #0a6992);
}

  .im_prin {
    width: 20%;

}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .im_prin {
    width: 30%;

}
	.main-title{
		font-size: 3.5rem;
	}
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{
transform: translateX(0);
}
