html {
  min-height: 100%;
}

body {
  min-height: 100vh;
}

body {
   background: url(../images/land_back.png) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.contenedor{
  background-color:#ffffffeb!important;
  height: 100%;
}
.center {
padding-top:15%!important;
}

.tittle{
	font-family: 'Asap', sans-serif;
	font-weight: 700;
    color: #ffbb16ff;
	letter-spacing: 1.5px;
}

.subtitle{
  font-family: 'Asap', sans-serif;
	font-weight: 700;
  color: rgb(8, 83, 168);
	letter-spacing: 1.5px;
}

 .img-fluids{
      max-width: 10%;
    }

.blue-title{
	color:#0c8ca6;
}

.main-title{
	color:white;
	text-shadow: 0 2px 5px gray;
	font-weight:400;
	font-size: 5rem;
}

.card-white{
	background-color:white!important;
	border-radius:1vw!important;
}

.nav-color{
	background-image: radial-gradient(circle at 50% 50%,#ffffff3d,#ffffff99 43%,hsla(0,0%,100%,0));
    box-shadow: 0 4px 20px -4px rgb(0 0 0 / 20%);

}

.btn-edubot{
  /*background-color: #0c92a6!important;*/
  background-color: #0da1ad!important;
  color:white!important;
  border-radius:25px!important;
  padding:0.75rem 3rem!important;
}

.btn-edubot:hover{
  /*background-color: #0c92a6!important;*/
  background-color: #0d7b85!important;
	color:white!important;
}
.foot-color{
	background: linear-gradient(59deg, #0ebcba, #0a6992);
}

  .im_prin {
    width: 20%;

}

/*--------About us-------------*/
.member{
  width: 10rem;
}

.more .btn{
  border-radius: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  }

.obj{
  font-size: 0.8rem;
}

.testimonio{
  height: 200px;
  background-image: linear-gradient(rgb(247, 207, 113),rgb(245, 237, 132) );
}

.card-top img {
  border: 5px solid white !important
}
.card-top {
  border-radius: 20px !important
}

.card-testimony {
  border-radius: 20px !important;
  box-shadow: 2px 2px 5px 0px rgb(100, 108, 170);
  transition: 0.8s
}

.profile-pic {
  margin-bottom: -5px !important
}

.outside {
  position: inherit;
  top: -50%
}

.quotes {
  position: relative;
  top: -10px
}

.quotes-down {
  position: relative;
  top: -4 px
}

.name {
  margin-top: -50px !important
}

.card-testimony:hover{
  transform: scale(1.05)
}

@media (max-width: 1000px) {
  .card-testimony:hover {
      transform: scale(1)
  }
}
/*-----------End about us----------*/


.card-membership {
  border-radius: 20px !important;
  box-shadow: 2px 2px 5px 0px rgb(100, 108, 170);
}

.card-category {
  border-radius: 20px !important;
  box-shadow: 2px 2px 5px 0px rgb(100, 108, 170);
  transition: 0.8s
}

.card-category:hover{
  transform: scale(1.05)
}



/*----------Planets animations------------*/
@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }    
}

@keyframes planet-animate {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }    
}


.animation-planet img{  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

.planet img{
  animation-name: planet-animate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}


/*------------End animations---------------*/


/*-------------------- Animations.hmtl ----------------*/

/*-------Oso-----*/
.oso{
  position: relative;
  bottom: 0px;
  height: 250px;
}

.bear-head img{
  
  position: relative;
  width: 8rem;
  transform: rotate(-10deg);
  animation: move-head 3s infinite;
  transform-origin: bottom;
}

@keyframes move-head{
  50%{
      transform: rotate(10deg);
  }
}


.bear-body img{
  position: relative;
  width: 8rem;
  bottom: 6px;
  
}

/*------Planeta 1----------*/

.planet1{
  width: 8rem;
  
}

.planeta img{
  position: relative;
  top: -8rem;
  left: -15rem;
  animation: spinning 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*----Planeta 2----*/

.planet2{
  width: 8rem;
}

.planeta2 img{
  position: relative;
  top: -16rem;
  left: -2rem;
  animation: scale 4s infinite linear, spin 2s; 
  animation-timing-function: ease-in-out;

}

@keyframes spin { 
  100% { 
      transform: rotate(180deg);
  } 
}

@keyframes scale {
  100% {
       transform: scaleX(2) scaleY(2);
  }
}

/*-------------------------- End animations.html-----------------*/





@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .im_prin {
    width: 30%;

}
	.main-title{
		font-size: 3.5rem;
	}
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{
transform: translateX(0);
}
