	<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 px-5 nav-color">
	  <!-- <a class="navbar-brand" href="#">Edubot</a> -->
	  <a class="navbar-brand" href="{{url_for('index')}}">
    	<img src="../static/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> Edubot
      </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    {% if not session.logged_in %}
	  
  <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="{{ url_for('juegos') }}">Juegos</a>
	      </li>
	</ul>
	    
			
		<ul class="navbar-nav">
			<li class="nav-item">
	        <a class="nav-link" href="{{ url_for('login') }}">Inicia sesión</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{ url_for('signin') }}">Únete gratis</a>
	      </li>
		  
		</ul>
		{% else %}
		  <ul class="navbar-nav mr-auto">
		 <li class="nav-item">
	        <a class="nav-link" href="{{ url_for('juegos') }}">Juegos</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{ url_for('ranking') }}">Ranking</a>
	      </li>
		  </ul>
		  <ul class="navbar-nav">
			<li class="nav-item">
	        <a class="nav-link" href="{{ url_for('perfil') }}">Perfil</a>
	      </li>
	   
		  
		</ul>
		{% endif %}

	  </div>
	</nav>
