{% extends "base.html" %}
{% block content %}

<div class="contenedor text-center pt-5" style="height:100vw">

		<h1 class="tittle" >Bienvenido a Edubot</h1>
		<p>Inserta tus credenciales para acceder</p>

	<div class="row">
	<div class="col col-md-6 offset-md-3">
	<div class="form-group">
		<div class="pt-3"><input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Nombre de usuario"></div>
		<div class="pt-3"><input type="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Contraseña"></div>
	</div>
	 <button class="btn btn-warning form-control" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Ingresa
  </button>
  <div class="pt-3">
  <label>
      <input type="checkbox" checked="checked" name="remember"> Recuerdame
    </label>
  </div>
  <div class="container">
    <span class="psw"><a href="#">Olvidaste tu contraseña?</a></span>
  </div>
  
</div>
</div>


 
{% endblock %}	
