{% extends "base.html" %}
{% block content %}

		<h1>Bienvenido a Edubot!</h1>
		<p>Inserta tus credenciales para acceder</p>

		<div class="form-group">
    <div class="pt-3"><input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Nombre de usuario"></div>
    <div class="pt-3"><input type="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Contraseña"></div>
  </div>


  <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Ingresa
  </button>
  <div class="pt-3">
  <label>
      <input type="checkbox" checked="checked" name="remember"> Recuerdame
    </label>
  </div>
  <div class="container">
    <span class="psw"><a href="#">Olvidaste tu contraseña?</a></span>
  </div>

{% endblock %}	
