{% extends "base.html" %}
{% block content %}
   

  <style>
    .img-fluid{
      max-width: 10%;
    }

  </style>



<div class="contenedor text-center pb-5" style="min-height:80vh; padding-top:6vh">
	
		<div class="hd py-3 mb-3 " style="background:url(static/images/banner_game.png) ">
        <h1 class="tittle text-light">Perfil</h1>
		<p class="text-light">Conoce tu desempeño</p>
		</div>
        <div class="container pt-5"></div>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card bg-info">
                      <div class="card-body" align="left">
                        <h2><span class="badge badge-warning"> Jugador </span></h2>
                        <p class="card-text"><b style="color:#ffffff">Nombre:</b> Carlitos</p>
                        <p class="card-text"><b style="color:#ffffff">Edad:</b> 7 años</p>
                        <p class="card-text"><b style="color:#ffffff">Datos:</b> Unidad Educativa "Ibarra"</p>
                      </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8" >
		
              <div class="descripcion" >
                <h4 align="left">Puntuación</h4>
                <p align="left">
                    100/200
                </p>
              </div>

              <div align="left" class="dificultad">
                <h4 align="left">Banderas</h4>
                  <div>
                    <img class="img-fluids" src="../static/images/medalla1.png">
                    <img class="img-fluids" src="../static/images/medalla2.png">
                    <img class="img-fluids" src="../static/images/medalla4.png">
                  </div>
              </div>


            </div>
        </div>
        <div class="container pt-5"></div>

        <h2>Días Jugados</h2>
        <img src="../static/images/dias.png" class="img-thumbnail">

        <div class="container pt-5"></div>

        <div class="row">
          <div class="col">
            <h2><span class="badge badge-warning"> Materias</span></h2>

            <img src="../static/images/chart.png" width="100%">
          </div>
          <div class="col">

            <h2><span class="badge badge-warning"> Progreso </span></h2><br>

            Inglés:
            <!-- Turquoise -->
            <div class="progress">
              <div class="progress-bar bg-info" style="width:30%">30%</div>
            </div><br>

            <!-- Orange -->
            Matemáticas:
            <div class="progress">
              <div class="progress-bar bg-warning" style="width:40%">40%</div>
            </div><br>

          </div>
          <div class="col">
            <h2><span class="badge badge-warning"> Recompensas </span></h2><br>

            <!-- Blue -->
            Diamantes
            <i class="fa fa-diamond"> </i>

            <div class="progress">
              <div class="progress-bar" style="width:20%">14/100</div>
            </div><br>

            <!-- Green -->
            Monedas
            <i class="fas fa-coins"></i>

            <div class="progress">
              <div class="progress-bar bg-success" style="width:50%">50/100</div>
            </div><br>

          </div>
        </div>

        <div class="container pt-5"></div>
    
  </div>        
{% endblock %}





