{% extends "base.html" %}
{% block content %}


<style >
 
  #sidebar{
  float: right;
  width: 32.5%;
  color: #000;
  padding: 15px;
  box-sizing: border-box;
  }

  .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }

    .rating-header {
    margin-top: -10px;
    margin-bottom: 10px;
}





</style>


<div class="contenedor text-center pb-5" style="min-height:80vh; padding-top:6vh">
	
		<div class="hd py-3 mb-3 " style="background:url(static/images/banner_game.png) ">
		<h1 class="tittle text-light animate__animated animate__bounceInDown" style="animation-delay: 0.5s;">Juegos</h1>
		<p class="text-light animate__animated animate__bounceInRight" style="animation-delay: 1.2s;">Busca un juego para comenzar a aprender</p>
		</div>
		
  <div class="container h-25 py-4">
      <div class="d-flex justify-content-center h-25">
        <div class="searchbar">
          <input class="search_input" type="text" name="" placeholder="Buscar. . .">
          <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </div>



<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="contenedor">
        <img src="../static/images/banner_game.png" class="rounded" alt="Eniun" width="500" height="250" />
        <div class="img-overlay">
          <a href="{{ url_for('game_lines') }}" class="btn btn-md"><i class="fas fa-play"></i> Jugar </a></a>

        <div class="form-group" id="rating-ability-wrapper">
      <label class="control-label" for="rating">
     
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="1" id="rating-star-1">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="2" id="rating-star-2">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="3" id="rating-star-3">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="4" id="rating-star-4">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="5" id="rating-star-5">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
  </div>

        </div>
          <ul class="list-group list-group-flush">
          <li class="list-group-item">Descripción Cras justo odio</li>
          <li class="list-group-item">Dificultad: Fácil</li>
          <li class="list-group-item">Categoria: Mate, Fracciones </li>
        </ul>   
     </div>
    </div>
    
    <div class="col-md-6">
      <div class="contenedor">
        <img src="../static/images/banner_game.png" class="rounded" alt="Eniun" width="500" height="250" />
        <div class="img-overlay">
          <a href="{{ url_for('game_lines') }}" class="btn btn-md"><i class="fas fa-play"></i> Jugar </a></a>
          <div class="form-group" id="rating-ability-wrapper">
      <label class="control-label" for="rating">
     
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="1" id="rating-star-1">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="2" id="rating-star-2">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="3" id="rating-star-3">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="4" id="rating-star-4">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="5" id="rating-star-5">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
  </div>
        </div>
          <ul class="list-group list-group-flush">
          <li class="list-group-item">Descripción Cras justo odio</li>
          <li class="list-group-item">Dificultad: Fácil</li>
          <li class="list-group-item">Categoria: Mate, Fracciones </li>
        </ul>   
      </div>
    </div>
  </div>
 </div> 
<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="contenedor">
        <img src="../static/images/banner_game.png" class="rounded" alt="Eniun" width="500" height="250" />
        <div class="img-overlay">
          <a href="{{ url_for('game_lines') }}" class="btn btn-md"><i class="fas fa-play"></i> Jugar </a></a>
          <div class="form-group" id="rating-ability-wrapper">
      <label class="control-label" for="rating">
     
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="1" id="rating-star-1">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="2" id="rating-star-2">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="3" id="rating-star-3">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="4" id="rating-star-4">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="5" id="rating-star-5">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
  </div>
        </div>
          <ul class="list-group list-group-flush">
          <li class="list-group-item">Descripción Cras justo odio</li>
          <li class="list-group-item">Dificultad: Fácil</li>
          <li class="list-group-item">Categoria: Mate, Fracciones </li>
        </ul>   
      </div>
    </div>

    <div class="col-md-6">
      <div class="contenedor">
        <img src="../static/images/banner_game.png" class="rounded" alt="Eniun" width="500" height="250" />
        <div class="img-overlay">
          <a href="{{ url_for('game_lines') }}" class="btn btn-md"><i class="fas fa-play"></i> Jugar </a></a>
          <div class="form-group" id="rating-ability-wrapper">
      <label class="control-label" for="rating">
     
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="1" id="rating-star-1">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="2" id="rating-star-2">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="3" id="rating-star-3">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="4" id="rating-star-4">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="5" id="rating-star-5">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
  </div>
        </div>
          <ul class="list-group list-group-flush">
          <li class="list-group-item">Descripción Cras justo odio</li>
          <li class="list-group-item">Dificultad: Fácil</li>
          <li class="list-group-item">Categoria: Mate, Fracciones </li>
        </ul>   
      </div>
    </div>
  </div>
</div>


</div>

{% endblock %}
