{% extends "base.html" %}
{% block content %}
<div class="contenedor text-center pt-5" style="height:100vw">
		<h1 class="tittle">Regístrate en Edubot</h1>
		<p>Ingresa tu información para crear una cuenta</p>

		<div class="row">
		<div class="col col-md-6 offset-md-3">
		<div class="form-group">
			<div class="pt-3"><input type="text" class="form-control" id="name" placeholder="Nombre y Apellido"></div>
    <div class="pt-3"><input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Nombre de usuario"></div>
    <div class="pt-3"><input type="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Contraseña"></div>
		<div class="pt-3"><input type="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Repetir Contraseña"></div>
  </div>

	<div class="pt-3">
	<label>
			<input type="checkbox" checked="checked" name="remember"> Acepto los <a href="#">términos y condiciones</a>
		</label>
	</div>

  <button class="btn btn-primary form-control" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Regístrate
  </button>
  </div>
 </div>
</div>

{% endblock %}
