{% extends "base.html" %}
{% block content %}

		<h1>Registrate en Edubot!</h1>
		<p>Ingresa tu informacion para crear una cuenta</p>

		<div class="form-group">
			<div class="pt-3"><input type="text" class="form-control" id="name" placeholder="Nombre y Apellido"></div>
    <div class="pt-3"><input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Nombre de usuario"></div>
    <div class="pt-3"><input type="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Contraseña"></div>
		<div class="pt-3"><input type="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Repetir Contraseña"></div>
  </div>

	<div class="pt-3">
	<label>
			<input type="checkbox" checked="checked" name="remember"> Acepto los <a href="#">terminos y condiciones</a>
		</label>
	</div>

  <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Registrate
  </button>

{% endblock %}
