{% extends "base.html" %}
{% block content %}

<div class="contenedor text-center pb-5" style="min-height:80vh; padding-top:6vh">
	<div class="hd py-3 mb-3" style="background:url(static/images/banner_game.png)">
		<h1 class="tittle text-light">Acerca de Nosotros</h1>
		<p class="text-light" >Conoce nuestra historia y quiénes trabajamos detrás de Edubot</p>
	</div>

	<div class="container-fluid">
		
		<div class="container">
			<h2 class="subtitle mt-5 mb-5">Acerca de Edubot</h2>
			<p style="padding-left: 25%; padding-right: 25%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum volutpat dictum. Ut at ex sagittis nibh laoreet lacinia. Integer placerat urna quam, non fermentum lorem lacinia ut. Mauris eu nunc quis elit feugiat efficitur at ut ipsum.</p>

		</div>
		<h2 class="subtitle mb-5 mt-5">Nuestro Equipo</h2>
		<h2 class="subtitle mb-5 mt-5">Nuestro Equipo</h2>
		<div class="row px-5">
			<div class="col-lg-4 col-md-4 col-xs-4">
				<img class="member" src="../static/images/photo.png" alt="Imagen de miembro del Equipo">
				<h3 class="pt-2">Marketing</h3>
				<div class="more mt-3">
					<a href="{{url_for('team')}}" class="btn btn-info" role="button" aria-disabled="true">Ver más</a>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-xs-4">
				<img class="member" src="../static/images/photo.png" alt="Imagen de miembro del Equipo">
				<h4 class="pt-2">Desarrollo</h4>
				<div class="more mt-3">
					<a href="{{url_for('team')}}" class="btn btn-info" role="button" aria-disabled="true">Ver más</a>
				</div>			
			</div>

			<div class="col-lg-4 col-md-4 col-xs-4">
				<img class="member" src="../static/images/photo.png" alt="Imagen de miembro del Equipo">
				<h4 class="pt-2">Diseño</h4>
				<div class="more mt-3">
					<a href="{{url_for('team')}}" class="btn btn-info" role="button" aria-disabled="true">Ver más</a>
				</div>
			</div>
		</div>

		

		<div class="container">
			<h2 class="subtitle mt-5 mb-5">Historia</h2>
			<p style="padding-left: 25%; padding-right: 25%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum volutpat dictum. Ut at ex sagittis nibh laoreet lacinia. Integer placerat urna quam, non fermentum lorem lacinia ut. Mauris eu nunc quis elit feugiat efficitur at ut ipsum.</p>

		</div>
		
		<h2 class="subtitle mb-5 mt-5">Objetivos</h2>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-xs-4">
				<img class="member" src="../static/images/benefit1.png" alt="Objetivo1">

				<p class="obj container mt-3">Praesent volutpat velit eget elit aliquet gravida. Etiam vehicula convallis libero. Suspendisse sed urna id ligula lacinia ultrices.</p>
			</div>

			<div class="col-lg-4 col-md-4 col-xs-4">
				<img class="member" src="../static/images/benefit2.png" alt="Objetivo2">
				<p class="obj container mt-3">Praesent volutpat velit eget elit aliquet gravida. Etiam vehicula convallis libero. Suspendisse sed urna id ligula lacinia ultrices.</p>
			
			</div>

			<div class="col-lg-4 col-md-4 col-xs-4">
				<img class="member" src="../static/images/benefit3.png"  alt="Objetivo3">
				<p class="obj container mt-3">Praesent volutpat velit eget elit aliquet gravida. Etiam vehicula convallis libero. Suspendisse sed urna id ligula lacinia ultrices.</p>
			</div>
		</div>

		<h2 class="subtitle mb-5 mt-5">Testimonio</h2>
	</div>

	

	<div class="testimonial-container container-fluid my-5 justify-content-center">
		<div class=" row justify-content-center ">
			<div class="col-lg-9 col-12">
				<div class="card-testimony card mt-3 ">
					<div class="card-top card-header bg-white text-center border-0 ">
						<div class="row justify-content-center ">
							<div class="col"> <img class="align-self-center text-center rounded-circle outside img-fluid" src="../static/images/photo.png" width="110" height="110"> </div>
						</div>
						<div class="row text-center name">
							<div class="col">
								<h5 class="mb-0 profile-pic">John Doe</h5> <small class="mt-0">Director of Marketing</small>
								<p><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star-o mr-1"></span></p>
							</div>
						</div>
					</div>
					<div class="card-body pt-0 text-center pb-3 ">
						<div class="row justify-content-center">
							<div class="col-md-9 col">
								<hr class="my-1 mb-3">
								<p class="bold"> <span><img class="img-fluid quotes" src="../static/images/quote1.png" width="40" height="40"></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum volutpat dictum. Ut at ex sagittis nibh laoreet lacinia. Integer placerat urna quam, non fermentum lorem lacinia ut. Mauris eu nunc quis elit feugiat efficitur at ut ipsum. <span><img class="img-fluid quotes-down" src="../static/images/quote2.png" width="40" height="40"> </span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		
</div>

{% endblock %}
