{% extends "base.html" %}
{% block content %}
<style>

	body{
		overflow-x:hidden;
	}

</style>


<div class="text-center pt-5 " style="min-height:80vh; padding-top:6vh">

	<div class="oso">
		<div class="bear-head"><img src="../static/images/head_bear.png"></div>
		<div class="bear-body"><img src="../static/images/body_bear.png"></div>
	</div>

	<div class="planeta">
		<img class="planet1" src='../static/images/planets/planet1.png' >
	</div>

	<div class="planeta2">
		<img class="planet2" src='../static/images/planets/planet2.png' >
	</div>



	
	
</div>
{% endblock %}
