 
{% extends 'base.html' %}
 
{% block content %}
  


  <div class="contenedor text-center pt-5">
  		<div class="hd py-3 mb-3" style="background:url(static/images/banner_game.png) ">

    <h1 class="tittle text-white">Ranking</h1>
    <p class="text-light">Top Estudiantes</p>
	</div>

<!-- Niveles Educativos -->

    <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Nivel Educativo
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">1° Grado</a>
    <a class="dropdown-item" href="#">2° Grado</a>
    <a class="dropdown-item" href="#">3° Grado</a>
    <a class="dropdown-item" href="#">4° Grado</a>
    <a class="dropdown-item" href="#">5° Grado</a>
    <a class="dropdown-item" href="#">6° Grado</a>
    <a class="dropdown-item" href="#">7° Grado</a>
    </div>
    </div>
  <!-- </div> -->

    <br>

<!-- Table with best scores -->

    <table class="table table-striped bg-light"> <!-- para que quede sin fondo quito bg-light-->
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Usuario</th>
      <th scope="col">Escuela</th>
      <th scope="col">Destacado</th>
      <th scope="col">Puntaje</th>
    </tr>
  </thead>
  <tbody>
  {% for student in rank_dic %}
    <tr>
      <th scope="row">{{student.rank_position}}</th>
      <td>{{student.rank_user}}</td>
      <td>{{student.rank_school}}</td>
      <td>{{student.rank_game}}</td>
      <td>{{student.rank_score}}</td>
    </tr>
  {% endfor%}
  </tbody>
    </table>
  </div>
{% endblock %}
