{% extends "base.html" %}
{% block content %}

<div class="contenedor text-center pb-5" style="min-height:80vh; padding-top:6vh">
		<div class="hd py-3 mb-3" style="background:url(static/images/banner_game.png) ">
		<div class="animation-planet" >
			<img src="static/images/planets/planet1.png" style="z-index:1; position:absolute; top:10vw; left:5vw; width: 8%;">

		</div>
		<div class="planet">
			<img src="static/images/planets/planet6.png" style="z-index:1; position:absolute; top:20vw; right:5vw; width: 8%;">


		</div>
		<h1 class="tittle text-light">Regístrate en Edubot</h1>
		<p class="text-light" >Ingresa tu información para crear una cuenta</p>
		</div>
		<div>
		{% if s %}
			<div class="alert alert-success">
				<h2>{{s}}</h2>
			</div>
		{% endif %}
		
		{% if us %}
			<div class="alert alert-danger">
				<h2>{{us}}</h2>
			</div>
		{% endif %}

		<form action="/register" method="POST">
		{{ form.csrf_token }}
		{{ form.hidden_tag() }}


			<div class="row">
				<div class="col col-md-6 offset-md-3">
					<div class="form-group">
						<div class="pt-3">
							{{ form.name }}
							{% if form.name.errors %}
								<!-- <ul class="errors"> -->
									{% for error in form.name.errors %}
										<span style="color: red">{{error}}</span>
									{% endfor %}
								<!-- </ul> -->
							{% endif %}
						</div>
						<div class="pt-3">
							<!-- {{ form.email.label }} --> 
							{{ form.email}}
							{% if form.email.errors %}
								<!-- <ul class="errors"> -->
									{% for error in form.email.errors %}
										<!-- <li>{{ error }}</li> -->
										<span style="color: red">{{error}}</span>
									{% endfor %}
								<!-- </ul> -->
							{% endif %}
						</div>
						<div class="pt-3">
							{{ form.password }}
							{% if form.password.errors %}
								<!-- <ul class="errors"> -->
									{% for error in form.password.errors %}
										<span style="color: red">{{error}}</span>
									{% endfor %}
								<!-- </ul> -->
							{% endif %}
						</div>
						<div class="pt-3">
							{{ form.confirm }}
							{% if form.confirm.errors %}
								<!-- <ul class="errors"> -->
									{% for error in form.confirm.errors %}
										<span style="color: red">{{error}}</span>
									{% endfor %}
								<!-- </ul> -->
							{% endif %}
						</div>



						<!-- <div class="pt-3"><input type="email" class="form-control" id="mail" name="mail" aria-describedby="emailHelp" placeholder="Correo"></div>
						<div class="pt-3"><input type="password" class="form-control" id="pass" name="pass" aria-describedby="emailHelp" placeholder="Contraseña"></div>
						<div class="pt-3"><input type="password" class="form-control" id="passr" name="passr" aria-describedby="emailHelp" placeholder="Repetir Contraseña"></div> -->
					</div>

					<div class="pt-3">
					<label>
							<input type="checkbox" checked="checked" name="remember"> Acepto los <a href="#">términos y condiciones</a>
						</label>
					</div>

					<button class="btn btn-edubot mt-3" type="submit" id="buttonr" aria-haspopup="true" aria-expanded="false">
						Regístrate
					</button>
				</div>
			</div>
		</form>
</div>
</div>

{% endblock %}
